.contenedor-flexible{
    display: flex;
    background-color: blueviolet;
    border: 5px solid black;
    padding: 10px;
    margin:5px ;
}
.contenedor-hijo{
    background-color: orange;
    border: 5px solid black;
    padding: 10px;
    margin:5px ;
}
.container-wraped{
    flex-wrap: wrap;
}